nav {
  width: 100vw;
  min-height: 60px;
  margin: 0;
  background-color: #214142;
  display: inline-block;
  top:0;
  position: absolute; 
}

.body {
  padding: 0px;
  background:blue;
}

.title {
  color: gold;
  margin-left:10%;
}

.pad {
  justify-content:space-between;
  width:80vw;
  height:50vh;
  margin:auto;
  justify-content:center;
  padding:20px;
  margin-top:12%;
  display:flex;
}

.btn-xl {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width:100%;
  height:56%;
  margin-top:0.1%;
}

.well {
  width:33%;
  background-color:transparent;
  text-align: center;
  margin:0%;
}
.btn-xl:hover {
  cursor: pointer
}

#display {
  width:30vw;
  height: 10vh;
  background-color:grey;
  margin:auto;
  margin-top:80px;
  justify-content:center;
  padding:10px;
  text-align:center;
  font-weight: bold;

}

.this {
  margin-top:5%;
}

.well {
 background-color:transparent;
}

.time {
   margin-left: 80%;
   width:fit-content;
   color:gold;
}


